Package: net.colindaugherty.testinginstall
Name: TestingInstall
Depends: mobilesubstrate
Version: 0.1.7
Architecture: iphoneos-arm
Description: a tweak that shows an alert
Maintainer: Colin Daugherty <support@colindaugherty.net>
Author: Colin Daugherty <support@colindaugherty.net>
Section: Tweaks
Depiction: https://colindaugherty.github.io/depictions/?p=net.colindaugherty.testinginstall
